.main {
  padding: 0 20px;
  overflow: auto;
  scrollbar-width: none;
  height: 100vh;
}

.main::-webkit-scrollbar {
  display: none;
}

.mainList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
  padding-bottom: 120px;
}