.main {
  width: 87vw;
  height: 86vh;
  padding: 0 20px;
  overflow: auto;
  scrollbar-width: none;
}

.main::-webkit-scrollbar {
  display: none;
}


.mainList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}