:root {
  --violet: #535bf2;
  --white-df: #dfdfdf;
  --bgColor: #161515;
  --accentColor: #bb3131;
  --iconColor: initial; /* Значение по умолчанию */
  --iconColorHover: #fff; /* Цвет для hover, если нужно */


  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100vh;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}